* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(34, 72, 138, 0.792),
    rgba(56, 120, 135, 0.719),
    70%,
    rgb(184, 242, 244)
  );
  color: rgba(0, 0, 0, 0.799);
}
